body {
    /*
    text-align: center;
    */
    background-color: rgba(0,102,102, 0.2);
    color: rgba(0, 102, 102);
    font-family: Verdana, Arial;
}

button {
    background-color: #A0A0A0;
    font-family: Verdana, Arial;
}

span {
    color: black;
    font-size: small;
}